{
  "root": true,
  "extends": ["next/core-web-vitals", "plugin:import/typescript", "prettier"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": ["builtin", "external", "internal"],
        "newlines-between": "never",
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "next",
            "group": "builtin",
            "position": "after"
          },
          {
            "pattern": "next/**",
            "group": "builtin",
            "position": "after"
          },
          {
            "pattern": "@chakra/**",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "warnOnUnassignedImports": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "@next/next/no-document-import-in-page": "off",
    "react/display-name": 0
  }
}
